# Node modules
node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# DB (optional, if you don't want to push it)
*.db

# IDE/editor settings (optional)
.vscode/
.idea/
